In [1]:
greeting = "hello world"

In [5]:
print(greeting)

hello world

In [ ]:
print(greeting)

In [7]:
hotKeys = "command s for save, command c,x,v for the usual copy, cut, paste, use ESC to enter command mode and use: c,x,v to copy,cut paste, cells. H for show shortcuts. z to undo. RETURN enters command mode COMMAND z to undo."

In [8]:
print(hotKeys)

command s for save, command c,x,v for the usual copy, cut, paste, use ESC to enter command mode and use: c,x,v to copy,cut paste, cells. H for show shortcuts. z to undo. RETURN enters command mode COMMAND z to undo.

# Python Data Types

## Notes

In [2]:
True

True

In [5]:
False

False

In [6]:
not True

False

In [7]:
False == True

False

In [9]:
'abf' + ' ' + "cdg"

'abf cdg'

In [16]:
my_response = input("Enter your number: ")

Enter your number:9

In [17]:
my_response

'9'

In [18]:
name = "Oliver"

In [19]:
print(name)

Oliver

In [20]:
"Hello %s" %name

'Hello Oliver'

In [21]:
f"Hello {name}"

'Hello Oliver'

This also works for math

In [23]:
f"Hello {name}{1+1}"

'Hello Oliver2'

checking for digit charS (ASCII)

In [24]:
"1234".isdigit()

True

In [25]:
"AA13232".isdigit()

False

There are other .is functions

Spliting strings and puts them into a list: by default the following splits on spaces

In [26]:
"Hello Bob".split()

['Hello', 'Bob']

You can split on different things: .split(",") to split on the comma

In [32]:
trash = "sdfsdfsfsdfsdf".split('d')

In [33]:
trash

['s', 'fs', 'fsfs', 'fs', 'f']

To replace

In [31]:
"hello bob".replace("bob", "world")

'hello world'

To join

In [34]:
" ".join(trash)

's fs fsfs fs f'

to convert a list to a list of strings

In [35]:
list(map(str, [1,2,3]))

['1', '2', '3']